.coming-soon {
  height: 100vh;
  width: 100%;
  background: url(../../contact-bg.png) no-repeat center center/cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
}

.overlay h1 {
  font-size: 80px;
  margin-bottom: 40px;
  font-weight: 600;
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.countdown div {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.countdown p {
  font-size: 14px;
  margin-top: 5px;
}

.subscribe-text {
  font-size: 18px;
  margin-bottom: 20px;
  color: #fff;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.subscribe-form input {
  padding: 15px;
  flex: 1;
  font-size: 16px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.subscribe-form button {
  padding: 15px 30px;
  background-color: #c29d59;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: 16px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s;
}

.subscribe-form button:hover {
  background-color: #a37f42;
}
